/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.mt--12{
    margin-top: -12px;
}
.mbbank{
    margin-left: -20px;
}
.mt-1{
    margin-bottom: 10px;
}
.mt-12{
    margin-top: 12px;
}
.mt-10{
    margin-top: 10px;
}
.wht{
    color:#fff;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mart-8{
    margin-top: 12px;
}
.row::after{
    content: "";
    display: block;
    clear:both;
}

.col{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}
.third{
    width: calc( 100% / 3);
}
.col-third{
    width: calc( 100% / 4);
}

.mt-8{
    margin-top: 8px !important;
}
  
.mt-16{
    margin-top: 16px !important;
}
.bkwhite{
    background-color: #fff;
}
.txtwhite{
    color:#fff;
}
.clear{
    clear:both;
}
    /* column - css */

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* Logo - swiper */
.inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .inner-headings span {
    position: relative;
    color: #fff;
    animation: animation 12s ease infinite;
  }
  
  @keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
  }
        /* ==== Log out statemen ====== */
.log-out{
    display: flex;
    gap: 50px;
    margin-top: -12px;
    position: absolute;
    margin-left: 600px;
}
.name-user{
    margin-left: 23px;
    margin-right: 23px;
    text-decoration: underline;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    margin-top: 17px;
}
.tax{
    color:#333;
    text-decoration: none;
}
.tax:hover{
    display: none;
}
 .scene {
    margin-top: 7px;
justify-content: center;
 align-items: center;
 }
           
 .cube {
 color: #ccc;
 cursor: pointer;
 font-family: 'Roboto', sans-serif;
transition: all 0.5s cubic-bezier(.17,.67,.14,.93);
transform-style: preserve-3d;
transform-origin: 100% 50%;
 width: 10em;
height: 4em;
 }
           
.cube:hover {
transform: rotateX(-90deg);
}
           
.side {
box-sizing: border-box;
position: absolute;
 display: inline-block;
/* height: 4em;
width: 10em; */
text-align: center;
 text-transform: uppercase;
padding-top: 1.5em;
 font-weight: bold;
 }
           
.top {
    font-size: 14px;
    padding-top: 11px;
    height: 41px;
    width: 127px;
 background: wheat;
 color: #222229;
 transform: rotateX(90deg) translate3d(0, 0, 2em);
box-shadow: inset 0 0 0 3px #fff;
border-radius: 6px;
 }
           
.front {
    padding-top: 11px;
    height: 41px;
    width: 127px;
    background: #222229;
    color: #fff;
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 6px;
    transform: translate3d(0, 0, 2em);
 }
  /* header - bar */
#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    background:transparent;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.15);
    transition: background-color 0.5s;
    z-index: 10;
 }
 #header.scrolled{
    background-color: #1A1A1A;
 }

.logo{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Allerta Stencil', sans-serif;
}
.nav{
 
    margin-right: 20%;
}

#header ul {
    position: relative;
    display: flex;
    gap: 30px;
}
#header ul li{
    list-style: none;
}
#header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color:#fff;
    letter-spacing: 0.2em;
}
#header ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition:transform 0.5s ease-in-out ;
    transform-origin:right;
}   

#header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin:left ;
}

/* Job Button */
/* Button 1 */
.bbtn1 {
    appearance: none;
    background: #157efb;
    border: 1px solid #157efb;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .bbtn1:disabled {
    pointer-events: none;
   }
   
   .bbtn1:hover {
    color: #fff;
    transform: translateY(-2px);
   }
   
   .bbtn1:active {
    box-shadow: none;
    transform: translateY(0);
   }
/* Button 2 */
.bbtn2 {
  margin-top: 7px;
    appearance: none;
    background: #5dd28e;
    border: 1px solid #5dd28e;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    outline: none;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .bbtn2:disabled {
    pointer-events: none;
   }
   
   .bbtn2:hover {
    color: #fff;
    transform: translateY(-2px);
   }
   
   .bbtn2:active {
    box-shadow: none;
    transform: translateY(0);
   }


/* Slider */
#slider{   
    bottom:0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 50%;

    background: url('./img/img1.png') top center / cover no-repeat; 

} 
            /*=== TEXT ===  */
#slider .text-heading{
    position: absolute;
    top:300px;
    width: 100%;
    margin-left: 40px;
    color: #fff;
    left: 150px;
}
#slider .text-name{
    font-size: 70px;
    color: #fff;
    line-height: 1;
    font-weight: 800;
    font-family: 'Allerta Stencil', sans-serif;
}
#slider .text-section{
    font-size: 70px;
    color: #fff;
    line-height: 1;
}
#slider .text-discrip{
    display: block;
    margin-top: 15px;
    opacity: 1;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}
            /*====== Search Job =======*/
.form{
    margin-top:40px;
    display: block;
}
.text-formmer{
    color:#333;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    display: inline-block;
}
.counter-numbers{
    display: inline-block;
    animation: count-up 2s ease-in-out forwards;
}
.counts{
    display: inline-block;
    animation: count-up 5s ease-in-out forwards;
}
@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.text-form{
    padding: 10px 29px;
    width: 142px;
    height: 54px;
    margin-top: 15px;
    font-size: 20px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 5px;
}
.form-search{
    display: flex;
    padding: 25px 20px 25px 40px;
    background-color: #fff;
    width: 650px;
    border-radius: 7px;
    margin-top: -9px;
}
input{
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;

    
}
.stick{
    margin-left: 21px;
    margin-right: -5px;
    color:#333;
    margin-top: 8px;
}
.search-btn{
    color:#333;
        display: inline-block;
        font-size: 24px;
    margin-left: -14px;
    margin-right: 19px;
    line-height: 30px;
    margin-top: 8px;
 }
#location-job{
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.location{
    margin-left:50px;
}
.local-name{
    font-size: 18px;
    color:#333;
    margin-right:15px;
}
.srch-btn{
    margin-left: 13px;
    padding: 8px 18px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
   }
   
   .srch-btn:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
   }
   
   .srch-btn:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }
   
/* Content */
#content .section-heading{
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    width: 800px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

#content .section-name{
    text-align: center;
    margin: 10px ;
    letter-spacing: 4px;
    font-weight: 500;
}
#content .sub-section{
   text-align: center;
  margin-top: 15px;

   opacity: 0.5;
   font-style: italic;
   margin-bottom: 50px;
}
#content .section-discription{
   text-align: justify;
   line-height: 1.5;
}



/* Content */
     /* ==== Content 1 ==== */
#content .section-heading{
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    width: 2000px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-name{
    text-align: center;
    margin: 10px ;
    letter-spacing: 4px;
    font-weight: 500;
    margin-bottom:45px
}
#content .sub-section{
   text-align: center;
   margin: 15px 0;
   opacity: 0.5;
   font-style: italic;
}
#content .section-discription{
   text-align: justify;
   line-height: 1.5;
}
#content .member-item{
    text-align: center;
 }
 #content .member-name{
     margin: 15px 0;
     font-size: 25px;
     color: #393939;
 }
.member-img{
    margin-left: 78px;
     border-radius: 4px; 
    margin-top: 4px;
 }
    /* === Content 2 === */
        /* ====> Card Item <=====*/
 .card {
    width: 210px;
    height: 76px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
  }
  
  .card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #088080;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }
  
  .c-txt {
    z-index: 2;
  }
  
  .card:hover::before {
    transform: scale(7) translate(-20px);
  }
  
  .card:hover {
    box-shadow: 1px -10px 500px 500px #9fe4e44a;
    color: #f3f3f3;
  }
  .cate{
    font-size: 16px;
    background: #e9f9ef;
    color: #5dd28e;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
  
    /* =====> Job list <===== */
.job-offers .image {
    margin-bottom: 30px;
  }
  
  .job-offers .image img {
    width: 100%;
  }
  
  .job-offers .offert-wrapper {
    position: relative;
    margin-bottom: 100px;
  }
  
  .job-offers .offert-wrapper .offert {
    border: 1px solid #e7e7e7;
    border-radius: 30px;
    padding: 40px;
  }
  
  .job-offers .offert-wrapper .offert .offert-description {
    margin-bottom: 30px;
  }
  
  .job-offers .offert-wrapper .offert .offert-description .company-logo {
    text-align: center;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .job-offers .offert-wrapper .offert .offert-description .company-logo img {
    height: 75%;
    width: auto;
  }
  
  .job-offers .offert-wrapper .offert .offert-description .company-name {
    font-size: 1.4em;
    color: #4b4b4b;
    font-weight: 900;
  }
  .job-offers .offert-wrapper .offert .offert-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}
.job-offers .offert-wrapper .offert .offert-description .company-logo {
    line-height: 50px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    padding: 20px;
    margin-bottom: 0px;
}
  .job-offers .offert-wrapper .offert .offert-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #e7e7e7;
  }
  
  .job-offers .offert-wrapper .offert .offert-meta .city {
    color: #4b4b4b;
    font-weight: 900;
  }
  
  .job-offers .offert-wrapper .main-btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -25px;
  }
 
.main-btn {
    appearance: none;
    background-color: #5dd28e;
    border:none;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
   padding: 15px 30px;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .main-btn:disabled {
    pointer-events: none;
   }
   
   .main-btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .main-btn:active {
    box-shadow: none;
    transform: translateY(0);
   }
    /* ==== Content 3 ==== */
        /* =====> Top Notch Service <=== */
.service {
    text-align: center;
    padding: 20px 0px 70px 0px;
  }
  
  .service h1 {
    margin-bottom: 100px;
  }
  
  .service .service-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 40px;
    margin-top: 40px;
  }
  
  .service .service-items .item span {
    display: block;
  }
  
  .service .service-items .item img {
    height: 50px;
  }
  
  .service .service-items .item .counter {
    font-weight: 900;
    font-size: 2em;
    color: #92d35e;
    padding: 20px 0px 10px 0px;
  }
  
  .service .item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .find-jobs {
    padding: 342px 0;
    background-image: url("./img/map.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.green {
    color: #92d35e;
  }
         /* Content 4 */
  



         /* Content 5 */
         /* Places*/
#content .place-heading{
    margin-top: 16px;
    margin-bottom: 48px;

}
.place-img{
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    position: relative;
    display: block;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    border: 1px solid ;
}
.place-img:hover {
    opacity: 0.6;
}
.place-name{
    font-size: 15px;
}
.place-time{
    padding: 15px 0;
    font-size: 15px;
    opacity: 0.6;
}
.place-discription{
    padding-bottom: 15px;
}
.place-buy-btn{
    text-decoration: none;
    padding: 8px 16px;
    background-color: #000;
    color: #fff; 
    display: inline-block;
    text-align: center;
}
.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}
/* Places*/

        
        
        






























  /* Footer */
 
footer {
    background-color: #333;
    margin-top: 30px;
    margin-bottom: -23px;
  }
  
  footer .footer-wrap {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color:#fff;
}
  
  footer .footer-wrap h6 {
    padding: 20px 0px;
    font-weight: 900;
  }
  
  footer .footer-wrap .about img {
    width: 120px;
  }
  
  footer .footer-wrap .social-media img {
    width: 40px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  footer .footer-wrap .social-media a img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .company  p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);

  }
  .useful-links p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);

  }
  
  footer .footer-wrap .company a:hover, footer .footer-wrap .useful-links a:hover {
    color: black;
    font-weight: 600;
    
  }
  
  footer .footer-wrap .company p, footer .footer-wrap .useful-links p {
    margin-bottom: 0.3em;
    
  }
  
  footer .footer-wrap .newsletter #subscribe label {
    font-weight: bold;
  }
  
  footer .footer-wrap .newsletter #subscribe input {
    display: block;
    width: 100%;
    background-image: url("../img/icon/email-icon.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    padding: 10px 10px 10px 40px;
    margin: 15px 0px;
  }
  
  footer .footer-wrap .newsletter #subscribe button {
    width: 100%;
  }
  