
@{
    ViewBag.Title = "HomePage";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/HomePage/Site.css">
    <link rel="stylesheet" href="./acess/font/themify-icons/themify-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/HomePage/java.js"></script>
    <title>WelCome</title>
</head>
<body>
    <div id="main">
        @using (Html.BeginForm(("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })))
        {
    <section class="iq-features">
        <div class="outer-headings">
            <h1 style="white-space: nowrap;">
                Welcome to
                <p class="head">JobSeeker</p>
                <div class="inner-headings">
                    <span>
                        Game-Developer<br />
                        Front-End Developer <br />
                        Back-End Developer <br />
                        Full-Stack Developer <br />
                        Ai-Engineer <br />
                        Machine-Engineer <br />
                    </span>
                </div>
            </h1>
            <!-- Acess btn -->
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" style="color: #fff;" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z">
                    </path>
                </svg>
                <span>@Html.ActionLink("Access", "Login_SignUp", "User", null, new { style = "text-decoration:none;" })</span>
            </button>
            
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12"></div>
                <div class="col-lg-6 col-md-12">
                    <div class="holderCircle">
                        <div class="round"></div>
                        <div class="dotCircle">
                            <span class="itemDot active itemDot1" data-tab="1">
                                <i class="fa fa-clock-o"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot2" data-tab="2">
                                <i class="fa fa-comments"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot3" data-tab="3">
                                <i class="fa fa-user"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot4" data-tab="4">
                                <i class="fa fa-tags"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot5" data-tab="5">
                                <i class="fa fa-upload"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot6" data-tab="6">
                                <i class="fa fa-briefcase"></i>
                                <span class="forActive"></span>
                            </span>
                        </div>
                        <div class="contentCircle">
                            <div class="CirItem title-box active CirItem1">
                                <h2 class="title"><span>Automate</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="CirItem title-box CirItem2">
                                <h2 class="title"><span>Chat </span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="CirItem title-box CirItem3">
                                <h2 class="title"><span>Responses</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="CirItem title-box CirItem4">
                                <h2 class="title"><span>Tags</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fa fa-tags"></i>
                            </div>
                            <div class="CirItem title-box CirItem5">
                                <h2 class="title"><span>Sharing</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fa fa-upload"></i>
                            </div>
                            <div class="CirItem title-box CirItem6">
                                <h2 class="title"><span>Support</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fa fa-briefcase"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12"></div>
            </div>
        </div>
    </section>
        }
    </div>
    <!-- Footer -->
    <div id="FooterPage">
        <div class="waveing">
            <footer>
                <div class="waves">
                    <div class="wave" id="wave1"></div>
                </div>

                <p>© Code with Team-Khoa/Duy/Fong | All right reserved</p>
            </footer>
        </div>
    </div>
</body>
</html>
